
*.db
*.opendb
*.json
*.ipch
*.sqlite
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/.vs/Lab1_C_Plus_Plus_SoftwareRasterizerPart1/v16/.suo
*.exe
*.obj
*.ps1
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/node_modules/.bin/mime
*.cmd
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/node_modules/.bin/mkdirp
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/node_modules/.bin/ncp
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/node_modules/.bin/rimraf
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/node_modules/i/LICENSE
*.js
*.ts
*.md
*.yml
Lab1_C_Plus_Plus_SoftwareRasterizerPart1/node_modules/xml-crypto/.npmignore
*.pem
*.html
